:root{
    --background: #0A0C10;
    --text: #EFEFEF;
    --red: #EA1D22;
    
    --red-hover: #bb1619;
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    background: var(--background);
    font-family: "Mukta", sans-serif;
    font-weight: 500;
}

button{
    font-family: "Mukta", sans-serif;
    font-weight: 500;

    cursor: pointer;

}

